/* 首页 */
#index{
	background: url(../images/hb_bg.png) 0 0 repeat-y; background-size: contain;
}
#index .nav-bar{
	position: absolute; background: none;
}
.choice-mode{
	margin-top: 2.14rem; padding: 0 2.86rem; overflow: hidden;
}
.choice-mode a{
	height: 3.04rem; margin-top: 1.79rem; line-height: 3.04rem; font-size: 1.14rem; color: #f15641; text-align: center; border-radius: .36rem; background: #ffc946; display: block;
}
.index-footer{
	position: absolute; left: 0; right: 0; bottom: 0; font-size: .86rem; color: white; text-align: center; overflow: hidden; z-index: 15;
}
.index-footer a{
	line-height: 4.18rem; font-size: .86rem; color: white;
}
.index-footer .register-btn a{
	text-decoration: underline;
}
.index-footer .example-intr{
	padding-top: 1.43rem; font-size: .93rem; display: block;
}

/* 红包详情 */
.red-inf-q{
	margin: 0 0.89rem; text-align: center; background: url(../images/hb_bg_2.png) 0 0 repeat-y; background-size: 100% auto; border-radius: 0.36rem;
}
.red-inf-q .red-inf-t{
	height: 4.75rem; line-height: 4.75rem; font-size: 1.21rem; color: #f15641;
}
.red-inf-q .max-mony{
	height: 2.14rem; line-height: 2.14rem; font-size: 2.0rem; color: #f15641; 
}
.red-inf-q .already-part{
	position: relative; width: 17.14rem; margin: 1.54rem auto 0; padding: 0.29rem; background: #ffe6a3; display: block;
}
.red-inf-q .already-part i:first-child:before,.red-inf-q .already-part i:first-child:after,.red-inf-q .already-part i:last-child:before,.red-inf-q .already-part i:last-child:after{
	content: ''; position: absolute; left: 0; top: 0; width: 1.0rem; height: 0.96rem; background: url(../images/angle_1.png) 0 0 no-repeat; background-size: 100% 100%;
}
.red-inf-q .already-part i:first-child:before{
	-webkit-transform: rotate(90deg); transform: rotate(90deg);
}
.red-inf-q .already-part i:first-child:after{
	left: 0; top: auto; bottom: 0;
}
.red-inf-q .already-part i:last-child:before{
	left: auto; right: 0; -webkit-transform: rotate(-180deg); transform: rotate(-180deg);
}
.red-inf-q .already-part i:last-child:after{
	left: auto; right: 0; top: auto; bottom: 0; -webkit-transform: rotate(-90deg); transform: rotate(-90deg);
}
.red-inf-q .already-part span{
	height: 2.39rem; line-height: 2.39rem; border: 1px solid #ffda77; display: block;
}