/* 首页 */
#index{
	background: url(../images/hb_bg.png) 0 0 repeat-y; background-size: contain;
}
#index .nav-bar{
	position: absolute; background: none;
}
.choice-mode{
	margin-top: 2.14rem; padding: 0 2.86rem; overflow: hidden;
}
.choice-mode a{
	height: 3.57rem; margin-top: 1.79rem; line-height: 3.57rem; font-size: 1.36rem; color: #f15641; text-align: center; border-radius: .36rem; background: #ffc946; display: block;
}
.index-footer{
	position: absolute; left: 0; right: 0; bottom: 0; font-size: 1rem; color: white; text-align: center; overflow: hidden; z-index: 15;
}
.index-footer a{
	line-height: 4.18rem; font-size: 1rem; color: white;
}
.index-footer .register-btn a{
	text-decoration: underline;
}
.index-footer .example-intr{
	padding-top: 1.43rem; font-size: 1.07rem; color: #ffc946; display: block;
}

/* 红包详情 */
#open-red{
	background: url(../images/hb_bg_5.png) 0 0 repeat-y; background-size: 100% auto;
}
.open-inf{
	position: fixed; left: 0; top: 3.21rem; width: 100%; z-index: 50; background: #ffe7b8;
}
.red-inf-q{
	padding-bottom: 7rem; margin: 0.71rem 3.5% 0; text-align: center; background: url(../images/hb_bg_2.png) 0 0 repeat-y; background-size: 100% auto; border-radius: 0.36rem 0.36rem 0 0;
}
.red-inf-q .red-inf-t{
	height: 2.21rem; padding-top: 1rem; line-height: 2.21rem; font-size: 1.0rem; color: #f15641;
}
.red-inf-q .max-mony{
	height: 2.14rem; line-height: 2.14rem; font-size: 2.36rem; color: #f15641; font-weight: normal;
}
.red-inf-q .already-part{
	position: relative; width: 19rem; margin: 1.54rem auto 0; padding: 0.29rem; font-size: 1.14rem; color: #f15641; background: #ffe6a3; display: block;
}
.red-inf-q .already-part i:first-child:before,.red-inf-q .already-part i:first-child:after,.red-inf-q .already-part i:last-child:before,.red-inf-q .already-part i:last-child:after{
	content: ''; position: absolute; left: 0; top: 0; width: 1.0rem; height: 0.96rem; background: url(../images/angle_1.png) 0 0 no-repeat; background-size: 100% 100%;
}
.red-inf-q .already-part i:first-child:before{
	 background-image: url(../images/angle_3.png);
}
.red-inf-q .already-part i:first-child:after{
	left: 0; top: auto; bottom: 0;
}
.red-inf-q .already-part i:last-child:before{
	left: auto; right: 0; background-image: url(../images/angle_4.png);
}
.red-inf-q .already-part i:last-child:after{
	left: auto; right: 0; top: auto; bottom: 0; background-image: url(../images/angle_2.png);
}
.red-inf-q .already-part span{
	height: 2.39rem; line-height: 2.39rem; border: 1px solid #ffda77; display: block;
}
.red-inf-q .already-add{
	height: 2.5rem; line-height: 2.5rem; font-size: 0.86rem; color: #f15641; text-align: center;
}
/* 拆红包 */
.red-ok .max-mony,.red-ok .already-part i{
	display: none;
}
.red-ok .red-inf-t{
	height: 4.75rem; padding-top: 1.68rem; line-height: 4.75rem; font-size: 1.43rem;
}
.red-ok .already-part{
	height: 3.36rem; line-height: 3.36rem; padding: 0; margin-top: 0; font-size: 1.29rem; color: #ffe3a3; background: #f15641; border-radius: 0.36rem;
}
.red-ok .already-part span{
	line-height: inherit; border: none;
}
/* 红包详情内容 */
.red-container{
	position: relative; margin-top: 20rem;
}
.red-container:before{
	content: ''; position: absolute; left: 0; top: 0; width: 100%; height: 1.79rem; background: url(../images/hb_bg_3.png) 0 0 no-repeat; background-size: 100% auto; z-index: 2;
}
.red-con-box{
	position: relative; padding-top: 4rem; background: url(../images/hb_bg_5.png) 0 0 repeat-y; background-clip: content-box; background-size: 100% auto; z-index: 55;
}
.red-con-box:before{
	content: ''; position: absolute; left: 0; top: 1rem; width: 100%; height: 3.18rem; background: url(../images/hb_bg_4.png) 0 0 no-repeat; background-size: 100% auto;
}
.red-con-title{
	position: relative; margin-top: 0.89rem; z-index: 5; display: box; display: -webkit-box;
}
.red-con-title:before,.red-con-title:after{
	content: ''; height: 0.07rem; margin-top: 0.57rem; background: #a62819; -webkit-box-flex: 1; box-flex: 1; display: block;
}
.red-con-title i{
	width: 0.5rem; height: 0.5rem; margin-top: 0.36rem; border-radius: 50%; background: #ab2b1b; display: block;
}
.red-con-title span{
	height: 1.25rem; padding: 0 0.71rem; margin: 0 0.57rem; line-height: 1.25rem; font-size: 0.71rem; color: #ffe3a3; text-align: center; border-radius: 1.25rem; background: #ab2b1b; display: block;
}
.participate-list li{
	padding: 1.07rem 0.71rem; border-bottom: 1px dashed #ab2b1b;
}
.participate-list li:last-child{
	border-bottom: none;
}
.participate-list dl{
	display: box; display: -webkit-box;
}
.participate-list dt{
	position: relative; width: 2.32rem; height: 2.32rem; background: #ffa96c; border-radius: 50%; box-shadow: 0 0.11rem 0 #ce2013;
}
.participate-list dd{
	position: relative; padding-left: 0.89rem; -webkit-box-flex: 1; box-flex: 1;
}
.participate-list dd .receive-money{
	position: absolute; right: 0; bottom: 0; font-size: 0.93rem; color: #ffe0a1;
}
.participate-list dd p{
	height: 1rem; line-height: 1rem; color: #ffe3a3;
}
.participate-list dd .phone em{
	position: relative; padding-right: 1.8rem; font-size: 0.86rem; color: #ffe3a3; font-style: normal;
}
.participate-list dd .time{
	padding-top: 0.36rem; font-size: 0.79rem;
}
.participate-list .me dd .phone em:before{
	content: 'ME'; position: absolute; right: 0; top: 50%; width: 1.5rem; height: 0.86rem; line-height: 0.86rem; font-size: 0.64rem; color: #eb4934; text-align: center; background: #ab2b1b; border-radius: 0.79rem; display: inline-block; -webkit-transform: translateY(-41%); transform: translateY(-41%);
}
.participate-list .red-best dd .phone em{
	padding-right: 3.36rem;
}
.participate-list .red-best dd .phone em:after{
	content: '最佳手气'; position: absolute; right: 0; top: 50%; width: 2.93rem; height: 0.86rem; line-height: 0.86rem; font-size: 0.57rem; color: #f15c41; text-align: center; border-radius: 0.86rem; background: #ffc946; -webkit-transform: translateY(-41%); transform: translateY(-41%);
}
.participate-list .red-best.me dd .phone em{
	padding-right: 5.14rem;
}
.participate-list .red-best.me dd .phone em:after{
	right: 1.82rem;
}
.participate-list .red-best dt:before{
	content: ''; position: absolute; left: 50%; top: 0; width: 2.07rem; height: 0.93rem; background: url(../images/crown.png) 0 0 no-repeat; background-size: contain; -webkit-transform: translate(-45%,-70%); transform: translate(-45%,-70%);
}

/* 红包 */
.red-box{
	position: absolute; left: 50%; top: 50%; width: 13.68rem; height: 19.29rem; margin: -9.645rem -6.84rem; background: url(../images/hongbao2x.png) 0 0 no-repeat; background-size: 100% auto; border-radius: 0.71rem; overflow: hidden;
}
@-webkit-keyframes opendScale {
	0% { -webkit-transform: translate3d(0,-30%,0); transform: translate3d(0,-30%,0); }
	100% { -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); }
}

@keyframes opendScale {
	0% { -webkit-transform: translate3d(0,-30%,0); transform: translate3d(0,-30%,0); }
	100% { -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); }
}
.open-trans{
	-webkit-animation: opendScale 0.25s ease both; animation: opendScale 0.25s ease both;
}
.red-box span:before{
	content: '恭喜分得'; position: absolute; left: 0; right: 0; top: 0; font-size: 1rem; font-weight: normal;
}
.red-box span{
	position: relative; padding-top: 1.1rem; margin-top: 10rem; font-size: 2.43rem; color: #fffd90; text-align: center; font-weight: bold; display: block;
}

/* 发起红包 */
.spons-task{
	padding: 0 0.89rem;
}
.spons-task .inp{
	position: relative; height: 2.36rem; padding: 0 0.71rem; line-height: 2.36rem; margin-top: 1.25rem; border: 1px solid #ebebeb; border-radius: 0.36rem;
}
.spons-task .inp .spons-title{
	position: absolute; left: 0.71rem; top: 0; width: 4.11rem; font-size: 0.93rem; text-align: left; display: block;
}
.spons-task .inp input,.spons-task .inp .spons-val{
	width: 100%; padding-left: 5rem; font-size: 0.93rem; text-align: right; box-sizing: border-box;
}
.spons-task .inp span{
	color: #c9c9c9; display: block;
}
.spons-task .inp input::-webkit-input-placeholder{ 
	font-size: 0.93rem; color: #c9c9c9 !important; 
} 
.spons-task .spons-btn{
	width: 100%; height: 2.71rem; margin-top: 2.86rem; line-height: 2.71rem; font-size: 1.21rem; color: white; text-align: center; background: #ff9a91; border-radius: 0.36rem; display: block;
}
.spons-task .spons-btn.on{
	background: #ff5648;
}
.spons-task .refund-explain{
	height: 1.07rem; margin-top: 1rem; line-height: 1.07rem; font-size: 0.71rem; color: #a2a2a2; text-align: center;
}
/* 登陆 */
.login-al-reg{
	padding: 0 1.07rem 1.07rem;
}
.login-al-reg li{
	position: relative; height: 3.89rem; display: box; display: -webkit-box;
}
.login-al-reg li:before{
	content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 1px; background: #e6e6e6; -webkit-transform: scaleY(.5); transform: scaleY(.5);
}
.login-al-reg li span{
	width: 3.86rem; height: 3.89rem; line-height: 3.89rem; font-size: 1.07rem; display: block;
}
.login-al-reg li .right-input{
	-webkit-box-flex: 1; box-flex: 1;
}
.login-al-reg li .right-input input{
	position: relative; top: -1px; height: 3.89rem; font-size: 1.07rem;
}
.login-al-reg li .right-input input::-webkit-input-placeholder{
	font-size: 1.07rem; color: #c5c4c4!important;
}
.login-al-reg .pass-forget{
	height: 3.89rem; line-height: 3.89rem; font-size: 1.07rem; color: #888; text-align: right; display: block;
}
.login-al-reg .submit-btn{
	height: 3.21rem; line-height: 3.21rem; margin-top: 1.79rem; font-size: 1.21rem; color: white; text-align: center; border-radius: 0.36rem; background: #f15641; display: block;
}
.pass-reg{
	position: relative; height: 3.18rem; line-height: 3.18rem; overflow: hidden;
}
.pass-reg a{
	font-size: 1.07rem; color: #888;
}
.pass-reg .register-a{
	position: absolute; left: 0; top: 0; color: #ee5747;
}
.pass-reg .forget-a{
	position: absolute; right: 0; top: 0;
}

/* 注册 */
.login-al-reg li .obtain-code{
	width: 7.5rem; height: 2.5rem; margin: 0.71rem 0; line-height: 2.5rem; font-size: 0.86rem; color: white; text-align: center; border-radius: 0.36rem; background: #f15641; display: block;
}
.login-al-reg li .obtain-code.disabled{
	background: #d8d8d8;
}
.login-al-reg .reg-btn{
	margin-top: 1.79rem;
}

/* 个人中心 */
.my_information{
	background: url(../images/hb_bg_5.png) 0 0 repeat-y; background-size: contain; position: relative;
}
.my_information dl{
	padding: 1.5rem 1.07rem 0; -webkit-transform: translate(0,1.07rem); transform: translate(0,1.07rem); display: box; display: -webkit-box;
}
.my_information dl dt{
	width: 4.79rem; height: 4.79rem; border-radius: 50%; border: 2px solid white; box-shadow: 0px 1px 3px #393939; overflow: hidden;
}
.my_information dl dt img{
	min-height: 100%;
}
.my_information dl dd{
	padding-left: 1.43rem; -webkit-box-flex: 1; box-flex: 1;
}
.my_information dd p{
	line-height: 1.21rem; font-size: 0.86rem; color: white;
}
.my_information dd .tit{
	line-height: 1.86rem; padding-top: 0.36rem; font-size: 1.21rem;
}
.my_information .balance{
	height: 3.93rem; line-height: 3.93rem; padding: 0 0.71rem; background: white; display: box; display: -webkit-box;
}
.my_information .balance p{
	font-size: 1.0rem; color: #999; text-align: center; -webkit-box-flex: 1; box-flex: 1;
}
.my_information .balance p em{
	font-size: 1.43rem; color: #db3652; font-style: normal;
}
.my_information .balance a{
	height: 2.3rem; line-height: 2.3rem; margin: 0.81rem 0; padding: 0 1.5rem; font-size: 1.0rem; color: white; text-align: center; background: #f15641; border-radius: 4px; display: block;
}
.inf_list ul{
	padding-left: 0.89rem; margin-top: 0.71rem; background: white; 
}
.inf_list ul li{
	height: 3.21rem; line-height: 3.21rem; position: relative;
}
.inf_list ul li:before{
	content: ''; width: 0.54rem; height: 0.93rem; background: url(../images/angle_6.png) center center no-repeat; background-size: contain; position: absolute; right: 1.07rem; top: 50%; -webkit-transform: translate(0,-50%); transform: translate(0,-50%);
}
.inf_list ul li:after{
	content: ''; width: 100%; height: 1px; background: #e6e6e6; position: absolute; left: 0; bottom: 0; -webkit-transform: scale(1,0.5); transform: scale(1,0.5);
}
.inf_list ul li:last-child:after{
	display: none;
}
.inf_list ul li span{
	width: 1.93rem; height: 1.93rem; position: absolute; left: 0; top: 50%; -webkit-transform: translate(0,-50%); transform: translate(0,-50%);
}
.inf_list ul li p{
	height: 100%; margin: 0 0 0 2.5rem; font-size: 1.0rem;
}

.inf_list ul li em,.inf_list ul li i{
	font-style: normal;
}
.inf_list ul li p em{
	font-size: 1.0rem; color: #888; position: absolute; right:  2.32rem; top: 0;
}
.inf_list ul li p em i{
	color: #db3652;
}

/* 兑换记录 */
.recharge_record ul{
	padding-left: 1.07rem; position: relative;
}
.recharge_record li{
	line-height: 1.43rem; padding: 1.07rem 1.07rem 0.71rem 0; font-size: 1.0rem; position: relative; display: box; display: -webkit-box;
}
.recharge_record li:before,.recharge_record ul:before{
	content: ''; width: 100%; height: 1px; background: #e6e6e6; position: absolute; left: 0; bottom: 0; -webkit-transform: scale(1,0.5); transform: scale(1,0.5);
}
.recharge_record li:last-child:before{
	display: none;
}
.recharge_status{
	width: 40%;
}
.recharge_status em{
	font-style: normal; display: block;
}
.recharge_status em:nth-child(1){
	font-size: 1.07rem; color: black;
}
.recharge_status em:nth-child(2){
	font-size: 0.86rem; color: #888;
}
.recharge_inf{
	width: 60%; text-align: right;
}
.recharge_inf p:nth-child(1){
	font-size: 1.0rem; color: #888;
}
.recharge_inf p:nth-child(2){
	font-size: 0.86rem; color: #888;
}
.no_record{
	height: 3.04rem; line-height: 3.04rem; font-size: 0.86rem; color: #888; text-align: center;
}

 /* 兑换奖品 */
.QR-code{
	width: 19.5rem; border-radius: 0.36rem; position: absolute; left: 50%; top: 50%; display: none; -webkit-transform: translate3d(-50%, -50%, 0); transform: translate3d(-50%, -50%, 0);
}
.exchange-tit{
	height: 3.04rem; line-height: 3.04rem; text-align: center; position: relative;
}
.exchange-tit strong{
	font-size: 0.86rem; color: #323232;
}
.exchange-tit .close2{
	width: 4.07rem; height: 100%; position: absolute; right: 0; top: 0; z-index: 5;
}
.exchange-tit .close2:before{
	content: ''; width: 0.93rem; height: 0.93rem; background: url(../images/close.png) center center no-repeat; background-size: contain; position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);
}
.QR-code dl{
	margin: 0.71rem 0.71rem 0; display: box; display: -webkit-box;
}
.QR-code dt{
	width: 8rem; height: 8rem; margin: 0 auto; border: 1px solid #bebebe; border-radius: 0.36rem; overflow: hidden;
}
.QR-code dd{
	line-height: 3.86rem; padding-left: 0.71rem; font-size: 1rem; color: #323232; font-weight: bold;
}
.QR-code .QR-code-m{
	width: 14.21rem; margin: 0 auto; padding: 0.29rem 0 1.07rem;
}
.long_press{
	-webkit-user-select: all; user-select: all;
}
.long_press .long_press_copy{
	height: 1.86rem; line-height: 1.86rem; padding: 1.14rem 0 0.18rem; font-size: 1.14rem; text-align: center; -webkit-user-select: none; user-select: none; 
}
.long_press .long_press_font p{
	height: 1.32rem; line-height: 1.32rem; font-size: 0.93rem; color: #888; text-align: center; -webkit-user-select: text; user-select: text; 
}
.long_press .long_press_inf{
	line-height: 1.46rem; padding: 1.0rem 0 1.5rem 0; font-size: 1.0rem; color: #e8415e; text-align: center;
}

/* 我的红包 */
.my-hb-box{
	position: relative; background: url(../images/hb_bg_5.png) 0 0 repeat-y; background-size: 100% auto; overflow: hidden;
}
.my-hb-box .select-box{
	position: absolute; top: 1.04rem; height: 1.64rem; line-height: 1.64rem;
}
.my-hb-box .select-box select{
	position: absolute; left: 0; top: 0; opacity: 0; z-index: 5;
}
.my-hb-box .select-box span{
	position: relative; padding-right: 1.5rem; font-size: 0.93rem; color: #f8d0ca; display: block;
}
.my-hb-box .select-box span:before{
	content: ''; position: absolute; right: 0; top: 50%; width: 1.07rem; height: 0.64rem; background: url(../images/angle_5.png) 0 0 no-repeat; background-size: contain; -webkit-transform: translateY(-50%); transform: translateY(-50%);
}
.my-hb-box .full-year{
	left: 0; padding-left: 0.96rem;
}
.my-hb-box .order-status{
	right: 0; padding-right: 0.96rem;
}
.my-hb-box dl dt{
	width: 6.68rem; margin: 1.8rem auto 0;
}
.my-hb-box dl dd{
	padding-bottom: 2rem; line-height: 3.46rem; font-size: 2.14rem; color: #ffe430; text-align: center;
}
.my-hb-box dl dd em{
	font-style: normal;
}
.my-hb-box dl dd em:nth-child(1){
	font-size: 2.0rem;
}
.my-hb-box dl dd em:nth-child(2){
	font-size: 0.93rem;
}
.income-inf{
	display: box; display: -webkit-box;
}
.income-inf span{
	width: 100%; height: 3.04rem; line-height: 3.04rem; font-size: 1rem; color: white; text-align: center; background: rgba(255,255,255,.2); display: block; -webkit-box-flex: 1; box-flex: 1;
}
.income-inf span:nth-child(1){
	margin-right: 0.11rem;
}
.hb-list li{
	position: relative; padding: 0.57rem 0.89rem; background: white;
}
.hb-list li a{
	display: box; display: -webkit-box;
}
.hb-list li:before{
	content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 1px; background: #e3e3e3; -webkit-transform: scaleY(.5); transform: scaleY(.5);
}
.hb-list li span{
	width: 100%; display: block; -webkit-box-flex: 1; box-flex: 1;
}
.hb-list li span:nth-child(1) p:nth-child(1){
	position: relative; height: 1.75rem; padding-left: 1.43rem; line-height: 1.75rem; font-size: 0.93rem; color: black;
}
.hb-list li span:nth-child(1) p:nth-child(1):before{
	content: ''; position: absolute; left: 0; top: 50%; width: 1.07rem; height: 1.07rem; background: url(../images/icon_2.png) 0 0 no-repeat; background-size: contain; -webkit-transform: translateY(-50%); transform: translateY(-50%);
}
.hb-list li span:nth-child(1) p:nth-child(2){
	position: relative; height: 1.36rem; line-height: 1.36rem; font-size: 0.79rem; color: #888;
}
.hb-list li span:nth-child(2) p:nth-child(1){
	height: 1.75rem; line-height: 1.75rem; font-size: 0.86rem; color: #888; text-align: right;
}
.hb-list li span:nth-child(2) p:nth-child(2){
	height: 1.36rem; line-height: 1.36rem; font-size: 0.79rem; color: #888; text-align: right;
}
.hb-list .open-red:after{
	content: '拆'; position: absolute; right: 0.89rem; top: 50%; width: 1.29rem; height: 1.29rem; font-size: 0.86rem; color: white; text-align: center; border-radius: 0.18rem; background: #f2a819; -webkit-transform: translateY(-50%); transform: translateY(-50%);
}

/* 兑换 */
.balance{
	height: 3.04rem; padding: 0 0.89rem; line-height: 3.04rem; font-size: 0.86rem; color: #888; background: #f4f4f4;
}
/* 兑换幸运红包 */
.exchange_list .text_introduce_t{
	height: 1.89rem; line-height: 1.89rem; margin: 0.5rem 1.18rem 0; padding-left: 1.07rem; font-size: 0.86rem; color: #ee503f; position: relative;
}
.text_introduce_t:before{
	content: ''; width: 0.36rem; height: 0.36rem; border: 0.11rem solid #ee503f; border-radius: 50%; position: absolute; left: 0; top: 50%; -webkit-transform: translate(0, -50%); transform: translate(0, -50%);
}
.exchange_list ul{
	overflow: hidden;
}
.exchange_list li{
	float: left; width: 50%; position: relative;
}
.exchange_list li:before{
	content: ''; height: 1px; background: #d1d1d1; position: absolute; left: 0; right: 0; bottom: 0; -webkit-transform: scale(1, 0.5); transform: scale(1, 0.5);
}
.exchange_list li a{
	display: block;
}
.exchange_list li dt,.exchange_goods dt{
	width: 8.14rem; margin: 1.43rem auto 1.36rem;
}
.exchange_list li dd p,.exchange_goods dd p{
	height: 1.36rem; line-height: 1.36rem; font-size: 0.86rem; text-align: center;
}
.exchange_list li dd span,.exchange_goods dd a{
	width: 8.93rem; height: 2.2rem; line-height: 2.2rem; margin: 0.61rem auto 1.07rem; font-size: 0.93rem; color: #e04241; text-align: center; border: 1px solid #e24f4e; border-radius: 0.36rem; display: block;
}
.lucky_val_exchange{
	width: 16.43rem; border-radius: 0.36rem; display: none; position: absolute; left: 50%; top: 50%; -webkit-transform: translate3d(-50%, -50%, 0); transform: translate3d(-50%, -50%, 0);
}
.lucky_val_exchange strong{
	height: 2.79rem; line-height: 2.79rem; padding-top: 0.36rem; font-size: 0.96rem; text-align: center; display: block;
}
.lucky_val_exchange strong .red1{
	padding: 0 0.36rem;
}
.lucky_val_exchange p{
	line-height: 1.21rem; font-size: 0.86rem; text-align: center;
}
.lucky_val_btn{
	margin-top: 1.25rem; border-top: 1px solid #e9e9e9; display: -webkit-box;
}
.lucky_val_btn a{
	width: 100%; height: 2.68rem; line-height: 2.68rem; font-size: 1.0rem; text-align: center; border-right: 1px solid #e9e9e9; display: block; -webkit-box-flex: 1; box-flex: 1;
}
.lucky_val_btn a:last-child{
	border-right: none;
}

/* 玩法介绍 */
.paly-intr{
	padding: 0 0.82rem 3.75rem;
}
.paly-intr h5{
	position: relative; height: 1.43rem; padding-left: 1.4rem; margin-top: 1.29rem; line-height: 1.43rem; font-size: 0.86rem; color: #ee321e;
}
.paly-intr h5:before{
	content: ''; position: absolute; left: 0; top: 50%; width: 1.07rem; height: 1.07rem; background-position: center; background-repeat: no-repeat; background-size: contain; -webkit-transform: translateY(-50%); transform: translateY(-50%);
}
.paly-intr h5:nth-child(1):before{
	background-image: url(../images/icon_3.png);
}
.paly-intr h5:nth-child(3):before{
	background-image: url(../images/icon_4.png);
}
.paly-intr p{
	line-height: 1.29rem; font-size: 0.86rem; color: #b0adaa;
}




































